* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS";
}

body {
  background: #d9d9d9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  position: relative;
  display: flex;
  flex-direction: column;
}

ul li {
  list-style: none;
}

ul li a {
  position: relative;
  display: inline-block;
  margin: 10px 0;
  font-size: 4rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: 0.2s;
}

/* ----------- */

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
}

ul li:hover ~ .cursor {
  transform: scale(3);
}
